*{
    
    padding: 0;
    margin: 0;

@media{

}
}
body{
    font-family: trebuchet MS, Arial, Helvetica, sans-serif;
}
header{
    
    padding: 10px;
    background: purple;
    border: 1px solid purple;
    margin: 0 auto;
}
.header-name{
    text-decoration: none;
    text-align: center;
    
}
.logo{
    color: aliceblue;
    
}
.left{
    width: 250px;
    height: 130vh;
    border: 1px solid blue;
    background: blue;
    float: left;
    font-size: 30px;
}
.tabela{
    font: 40px ;
    padding: 15px;
    margin:20px;
    list-style: none;
    color: aliceblue;
}
.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.linha1{
    display: flex;
    flex-direction: row;
    padding: 10px; 
}
.card{
    
    width: 200px;
    height: 300px;
    margin: 15px;
    padding: 15px;
    box-shadow:2px -2px 2px 2px #ccc;
}
.card1{
    width: 200px;
    height: 290px;
    
}
.fonte{
    text-align: center;
    font-weight: bold;
}